node_modules
dist
build
.env
pnpm-lock.yaml
apps/frontend/project_structure.text
apps/backend/uploads
docker-compose.yml
package-lock.json
docker-compose.yml
apps/backend/prisma/migrations/20250130235025_init/migration.sql
apps/backend/prisma/migrations/migration_lock.toml
apps/backend/package.json
